# .NET
bin/
obj/
*.user
*.rsuser
*.suo
*.userprefs

# Logs
*.log

# Temporary files
*.tmp
*.temp

# IDE files
.vscode/
.idea/

OUTPUT.txt

# Build artifacts
Lab1/Lab1.sln
Lab2/Lab2.sln
Lab1.Tests/Lab1.Tests.sln